.classRoom{
    padding-top: 51px;
    margin-bottom: 30px;
    max-width: 680px;
}
.classRoom img{
    width: 100%;
}
.classRoomText{
    margin-left: 25px;
    max-width: 730px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #696984;
}
.learnMore{
    margin-top: 30px;
    margin-left: 25px;
    height: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #696984;
}
.classRoomInfo{
    padding-right: 47px;
}
.classRoomPlay{
    width: 100%;
}